/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*VARIABLES*/

:root{

    /*Palette*/
    --primary:#007AFF;
    --secondary:#E2231A;
    --light: #FFFFFF;
    --accent:#D9D9D9;

    /*Font sizes*/
    --text-xxl: 4.8em;
    --text-xl: 3.6em;
    --text-md: 3.2em;
    --text-sm: 1.6em;
    --text-xs: 0.9em;

    /*Spacing*/

    --sp-xxl:12rem
    --sp-xl:8rem
    --sp-lg:5rem
    --sp-md:3.2rem
    --sp-sm:1.6rem
    --sp-xs:0.7rem

}

/*NORMALIZE*/

*{
    margin:0;
    padding: 0 rem;
    box-sizing: border-box;
}

html {
    font-family: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-sm);
    color: var(--primary);
}

a{
    font-size: var(--text-xs);
    text-decoration: none;
    color: var(--accent);
}

.container {
    max-width: 1200px;
    margin:0 auto;
}
/*HEADER*/

header {
    background-color:var(--primary) ;
}

.navbar{
    display: flex;
    align-items: center;
    flex-grow: 1;

}

@keyframes appear{
    0%{ 
        transform: translate(-500px);
    }
    100%{
        transform: translate(0);
    }
}

.navbar .navbar_link{
    /*display: inline-block;*/
    animation: appear 2s 1 linear;
}
.navbar .menu{
    /*display: inline-block;*/
    display: flex;
    gap: 1 rem;
    list-style-type: none;
}

.navbar .menu .menu_link {
    display: flex;
    padding: 1.5rem;
    font-size: --text-xs;
    transition: background 0.8s
}

.navbar .menu .menu_link:hover {
    background-color: #E2231A;

}

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#historia{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat (12, 1fr);
    gap: 1rem
}

.hist-1{
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.hist-2{
    grid-column: 1 / 6;
    grid-row: 6 / 12;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.histim{
    grid-column: 6 / 12;
    grid-row: 1 / 12;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem
}

#definicion{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat (6, 1fr);
    gap: 1rem

}

.def-art1{
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;


}

img {
    width: 100%;
}

.defim-1{
    grid-column: 6 / 12;
    grid-row: 1 / 3;

}

.defim-2{
    grid-column: 6 / 12;
    grid-row: 3 / 5;
    animation: danzar 7s 1 ease-in-out ;
    
}

.defim-3{
    grid-column: 6 / 12;
    grid-row: 5 / 6;
}

@keyframes danzar {
    0% {
        width: 100px;
    }
    25%{
        width:200px;
        transform: translateX(-50px)
    }
    50%{
        width: 100px;
    }
    75%{
        width:100px;
        transform: translateX(-100px)
    }
    100%{
        width:250px;
    }

}

#modelosapi{
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    grid-template-rows: repeat (12, 1fr);
    gap: 50px
}

.mod-1{
    grid-column: 1 / 12;
    grid-row: 1 / 2;
    gap: 50px;

}

.mod-2{
    grid-column: 1 / 6;
    grid-row: 2 / 5;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mod-3{
    grid-column: 1 / 6;
    grid-row: 5 / 8;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.mod-4{
    grid-column: 1 / 6;
    grid-row: 8 / 11;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.modim{
    grid-column: 6 / 12;
    grid-row: 2 / 11;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.container-div{
    display: flex;
}

#fabricantes1{
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2rem;
}



.imgsize{
    max-width: 150px;
}



#fabricantes2{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 0rem;
    gap: 4rem;
}

.containersect{
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: repeat(12 1fr);
    gap: 2rem;

}
.gapl-1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.gapl-2{
    grid-column: 1 / 6;
    grid-row: 2 / 6;
    text-align: justify;
}


.gapl-3{
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

.gapl-4{
    grid-column: 1 / 6;
    grid-row: 7 / 12;
}

.gapl-5{
    grid-column: 8 / 12;
    grid-row: 2 / 11;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gapl-3{
    transform: translateY(-5vw);
}
.gapl-4{
    transform: translateY(-7vw);
}

.piedepa2{
    background-color: #E2231A;
    font-size: var(--text-sm);
    color: var(--accent);
    display: flex;
    flex-direction: column;
    text-align: center;
}
