/*VARIABLES*/


    /*Palette*/
    $primary:#007AFF;
    $secondary:#E2231A;
    $light: #FFFFFF;
    $accent:#D9D9D9;

    /*Font sizes*/
    $text-xxl: 4.8em;
    $text-xl: 3.6em;
    $text-md: 3.2em;
    $text-sm: 1.6em;
    $text-xs: 0.9em;
    $text-xx: 0.5em;

    /*Spacing*/

    $sp-xxl:12rem;
    $sp-xl:8rem;
    $sp-lg:5rem;
    $sp-md:3.2rem;
    $sp-sm:1.6rem;
    $sp-xs:0.7rem;

