
/*APLICACIONES*/

#aplicaciones{
    display: grid;
    grid-template-columns: repeat (1fr, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;

    
        .gapl0{
            @include flex(column, no-wrap, flex-start, left, $sp-sm);
            font-size: $text-xs;
            color: $primary;
            text-align: justify;

            .gapl-3{
                transform: translateY(1vw);
            }
            .gapl-4{
                transform: translateY(1vw);
            }
        }

        .gapl-5{
            width: 270px;
            height: 180px;
        
        }

.apliimg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 2rem;

        .apliimg1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 10rem;
            gap: 10rem;
        }
        .apliimg2{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 10rem;
            gap: 10rem;
        }


        }
    
}