/*DEFINICION*/

#definicion {
    display: grid;
    grid-template-columns: repeat (1fr, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    text-align: justify;

        .defimg{
            display: flex;
            flex-direction: column;
    
            animation: danzar 7s 1 ease-in-out ;

                @keyframes danzar {
                    0% {
                        width: 100px;
                    }
                    25%{
                        width:200px;
                        transform: translateX(-50px)
                    }
                    50%{
                        width: 100px;
                    }
                    75%{
                        width:100px;
                        transform: translateX(-100px)
                    }
                    100%{
                        width:250px;
                    }
                }
        }

    }   
