
/*FABRICANTES*/

.container-div{
    display: flex;
    flex-wrap: wrap;


        #fabricantes1{
            flex: 1 1 70%;
            display: flex;
            flex-direction: column;
            text-align: justify;
            padding: 2rem;

                .imgsize{
                    max-width: 100%;
                }
        }

        #fabricantes2{
            flex: 1 1 30%;
            display: flex;
            flex-direction: column;
            margin-top: 10rem;
            padding: 1rem;
            gap: 8rem;
        }
}