
/*MODELOS API*/

#modelosapi{
    display: grid;
    grid-template-columns: repeat (1fr, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;


        .modelosapitext{
            display: flex;
            flex-direction: column;
            text-align: justify;
        }
                .modapi{
                    margin-bottom: 5rem;
                }

        .modelosapiimg{
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 5rem;
            padding: 4rem;
        }
    }  

